/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2018, 11:27:10 AM
    Author     : SRUN VANNARA
*/


.column-header{
    -fx-border-color:darkgray;
      -fx-background-color: white;
}
.table-view{
    -fx-font: 15px "Nokora";
    -fx-text-fill: #616161;
}

 .show-hide-columns-button{
     -fx-background-color:white;
     -fx-border-color:darkgray;
}
.table-view:focused{
    -fx-border-color:darkgray;  
    /*-fx-background-insets: 0px;*/
}
.table-row-cell:hover{
    -fx-cursor: hand;
    -fx-text-background-color:#f90871;
}

/*.table-row-cell:selected{
    -fx-background-color:#27ae60;
    -fx-text-background-color:white;
    -fx-alignment:CENTER_LEFT;
}*/

.button{
    -fx-cursor: hand;
     -fx-font-size: 16px;
    -fx-font-family:"Nokora";
    -fx-border-color: grey;
    -fx-padding: -2 0 3 0;
    -fx-background-insets: 0px;
    -fx-background-color: white;
    -fx-text-fill: #4a4e4d;
}

.button:hover {
    -fx-background-color:  #FF1744;
    -fx-text-fill: white;
    -fx-background-insets: 0px;
    -fx-border-color: darkgray;
    -fx-border-width: 1px;
}
.button:pressed{
    -fx-background-color: #909090;
    -fx-cursor: default;
}

.text-field{
    -fx-text-fill: #616161;
    -fx-border-color: silver;
    -fx-background-insets:20px;
    -fx-font-size: 16px;
    -fx-font-family:"Nokora";
    -fx-padding: 0 2 2 10;
}

.text-search{
    -fx-border-radius: 20px;
    -fx-padding: 0 2 2 30;

}

.combo-box {
    -fx-text-fill: #616161;
    -fx-border-color: silver;
    -fx-background-insets: 21px; /* make forground white*/
    -fx-font-size: 16px;
    -fx-font-family:"Nokora";
}

.label{
    -fx-font-size: 16px;
    -fx-font-family:"Nokora";
    -fx-text-fill: #616161;
}
.label.about{
    -fx-text-fill: whitesmoke;
}


.lbl-title{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-pref-width:400;
    -fx-pref-height:40;
    -fx-border-color:  #d5dbde ;
    -fx-border-radius: 0 0 10 10;
    -fx-border-width: 1 2 2 2 ;
    -fx-text-fill: #ff8264;
}



